<h1>Simple MDE dummy app</h1>

<h2>Using change action method</h2>
{{simple-mde value=value change=(action "showNewValue")}}
<p> New Value : </p>
{{simple-mde-preview newValue}}

<h2>Using mut action method</h2>
{{simple-mde value=value change=(action (mut value))}}
<p> Value : </p>
{{simple-mde-preview value}}
<p> link a textarea </p>
{{textarea value=value}}

<h2>Passing options to the simpleMDE instance</h2>
<h3>Disable the toolbar</h3>
{{simple-mde value=value options=simpleMdeOptionsWithNoToolbar}}

<h3>Use the built in Bold action handler</h3>
{{simple-mde value=value options=simpleMdeOptionsWithCustomToolbar}}

<h3>Create a custom toolbar option with a function reference handler</h3>
{{simple-mde
  value=value
  options=simpleMdeOptionsWithCustomToolbarFunctionRefHandler
}}
